.modal {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  
  .modalContent {
    width: fit-content;
    max-width: 800px;
    height: fit-content;
    background-color: var(--background-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1002;
    position: relative;
    .buttonContainer {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    button {
      z-index: 1002;
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      background-color: var(--main-color);
      color: var(--font-color);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

:global {
  .swal2-timer-progress-bar {
    background-color: var(--main-color) !important; /* 원하는 색상으로 변경 */
  }
}
