.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modalContent {
    position: absolute;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #8b7d70; // 모달 배경색
    color: #fdfdfd;
    box-shadow: 0 4px 10px var(--contrast-color); // 그림자 효과

    button {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      background-color: var(--main-color);
      color: var(--font-color);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
