.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100; /* 화면의 최상단 */
}

.modalOverlayShadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 배경을 더 어둡게 */
  z-index: 1099; /* 화면의 최상단 */
}

.modalContent {
  width: 60%;
  max-width: 600px;
  background-color: var(--background-color); // 밝은 배경색
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: left;

  .closeButton {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    width: 30px; /* 닫기 버튼의 크기 조정 */
    height: 30px; /* 닫기 버튼의 크기 조정 */
    font-size: 30px; /* 아이콘 크기 조정 */
    border: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s; /* 애니메이션 효과 */
    background-color: var(--background-color);
    &:hover {
      transform: scale(1.1); /* 호버 시 확대 효과 */
    }
  }
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.point {
  font-size: 32px; // 점수를 크게 표시
  color: #4cafa0; // 긍정적인 색상
  margin: 20px 0;
}

.audioContainer {
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
  gap: 10px; // 버튼 사이 간격
}

.pronounceButton {
  background: var(--main-color); // 버튼 배경색
  border: none;
  border-radius: 5px;
  color: var(--font-color); // 버튼 텍스트 색상
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;

  &:hover {
    background: var(--contrast-color); // 호버 시 색상 변경
  }
}

.downloadButton {
  background: var(--border-color); // 버튼 배경색
  border: none;
  border-radius: 5px;
  color: var(--font-color); // 버튼 텍스트 색상
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  margin-bottom: 30px;

  &:hover {
    background: var(--contrast-color); // 호버 시 색상 변경
  }
}
