.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  pointer-events: none;

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    pointer-events: all;
  }

  .cursorPosition {
    position: fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
}

body {
  pointer-events: auto;
}
