.wordSlider {
  top: 20px;
  width: 30vh;
  height: 20vh;
  text-align: center;
}

.slide {
  justify-content: center;
  align-items: center;
}

.wordText {
  font-size: 2rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // 텍스트에 그림자 효과 추가
}
