.wordSlider {
  top: 20px;
  width: 35vh;
  height: 20vh;
  text-align: center;
}

.slide {
  justify-content: center;
  align-items: center;
}

.wordText {
  font-size: 40px;
  font-family: Impact;
  color: --var(font-color);
}
