.home {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100%;
  overflow-y: hidden;
}

.wordCloudContainer {
  flex: 1;
  height: 100%;
}

.articleListContainer {
  flex: 1;
  height: 100%;
}

.showArticle {
  top: 0; // 스크롤 시 ArticleList가 보이도록 설정
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

/* 슬라이딩 텍스트 스타일 */
.wordCloudSlider {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  // justify-content: center; /* 가운데 정렬 */
  // align-items: center;
  // overflow: hidden;
  pointer-events: none; /* 사용자 상호작용 방지 */
}

.slideText {
  font-size: 2rem; /* 텍스트 크기 조절 */
  animation: fade 1s ease-in-out;
}

/* 페이드 인/아웃 애니메이션 */
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
