.home {
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--background-color); // 상속된 배경색 사용
  color: var(--font-color);
}
