.home {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100%;
  overflow-y: hidden;
}

.wordCloudContainer {
  flex: 1;
  height: 100%;
}

.articleListContainer {
  flex: 1;
  height: 100%;
}

.showArticle {
  top: 0; // 스크롤 시 보이도록 설정
}

.section {
  height: 100%;
  // overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}
