// Nav.module.scss

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0;
}

.menuButton {
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; // 자연스러운 애니메이션 추가
}

.list {
  width: 100%;
}

.listItem {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  transition:
    width 0.3s ease-in-out,
    background 0.3s ease-in-out; // 메뉴 너비 전환 애니메이션 추가
}

.listItemOpen {
  width: 200px; // 열린 상태의 메뉴 너비
}

.listItemClosed {
  width: 60px; // 닫힌 상태의 메뉴 너비
}

.listItemButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.listItemText {
  margin-left: 10px;
  transition: opacity 0.3s ease-in-out; // 텍스트 등장 애니메이션 추가
}

.icon {
  color: #444;
}
