.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

.logo {
  margin: 32px;
  height: 20vh;
}

.oAuthContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 54px;
  border: var(--main-color) 10px dotted;
  padding: 10px 20px;
  border-radius: 20px;
  width: 50vw;

  button {
    border-radius: 8px;
    cursor: pointer;
    border: none;
  }

  img {
    cursor: pointer;
  }
}

.google {
  width: 183px;
  height: 45px;
  background-color: #f2f2f2;
  color: black;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding-left: 5px;

  img {
    position: absolute;
    left: 0;
  }
}

.registerFormContainer {
  width: 50vw;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registerForm {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 240px;
  border: 10px var(--main-color) dotted;
  margin: 10px;
  border-radius: 20px;

  article {
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
      color: var(--font-color);
    }

    input {
      border-radius: 8px;
      font-size: 16px;
      padding: 6px 12px;
      background-color: var(--font-color);
      color: var(--background-color);
    }
  }

  button {
    color: white;
    margin: 5px 0;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
  }
}

.buttonGroup {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;

  button {
    padding: 5px 24px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: normal;
    width: 25%;
  }

  button:disabled {
    opacity: 0.6;
    color: #f2f2f2;
  }
}
