.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

.logo {
  margin: 32px;
  height: 150px;
}

.registerFormContainer {
  width: 50vw;
  min-width: 500px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registerForm {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 240px;
  border: 10px var(--main-color) dotted;
  margin: 10px;
  border-radius: 20px;
  position: relative;

  input {
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 12px;
    background-color: var(--font-color);
    color: var(--background-color);

    &:disabled {
      background-color: black;
    }
  }

  button {
    color: white;
    margin: 5px 0;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
  }
}

.buttonGroup {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: center;

  button {
    padding: 5px 24px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: normal;
    width: 25%;
  }

  button:disabled {
    opacity: 0.6;
    color: #f2f2f2;
  }
}
