.navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 12rem;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 12px;
  border-right: 0.1px solid var(--font-color);

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .switcher {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    li {
      border-radius: 12px;
      cursor: pointer;
      border-bottom: 1px solid var(--font-color);
      background-color: var(--background-color);
      color: var(--font-color);
      font-size: 20px;
    }

    li > a {
      border-radius: 12px;
      border: none;

      span {
        display: flex;
        justify-content: center;
      }
    }

    li > a:hover {
      background-color: var(--main-color);
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;
  }
}

.searchBar {
  position: fixed;
  z-index: 1;
}

.lastButton {
  border-bottom: none !important;
}
