@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.searchBarOverlay {
  width: 100vw;
  height: 100vh;

  .searchBar {
    position: absolute;
    align-content: center;
    top: 0;
    left: 12rem;
    width: 50vw;
    min-width: 400px;
    max-width: 600px;
    height: 100vh; /* 전체 높이 */
    padding: 12px;
    background-color: var(--background-color);
    color: var(--font-color);
    transform: translateX(-100%);
    border-right: 0.5px solid var(--font-color);
    animation: 0.5s ease forwards;
    overflow-y: hidden; /* 기본적으로 스크롤 비활성화 */

    .inputContainer {
      width: 100%;
      padding: 10px;
      display: flex;
      gap: 12px;
      margin-bottom: 20px;

      .inputBar {
        flex-grow: 1;
        width: 80%;
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
        border: 1px solid var(--main-color);

        &:focus {
          outline: none;
          background-color: #f0f8ff;
          border: 1px solid var(--contrast-color);
          box-shadow: 0 0 5px var(--contrast-color);
          color: var(--contrast-color);
        }
      }

      button {
        width: 20%;
        padding: 5px;
        border-radius: 10px;
      }
    }

    /* 검색 결과가 스크롤될 수 있도록 높이와 오버플로우 설정 */
    .searchedWords {
      width: 100%;
      height: calc(100vh - 120px); /* 검색창 높이 제외한 나머지 공간 */
      overflow-y: auto; /* 스크롤 활성화 */
      margin-top: 20px;

      .wordCard {
        padding: 15px;
        background: #f0f0f0;
        border-radius: 8px;
        margin: 10px;
        padding-top: 10px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;

        &:hover {
          transform: translateY(-3px);
        }

        .wordMeaning,
        .wordExample,
        .wordExampleKorean {
          margin: 10px 0;
          padding: 8px 10px;
          background: var(--background-color);
          border: 1px solid var(--contrast-color);
          border-radius: 5px;
        }

        .sectionTitle {
          font-weight: bold;
          margin-bottom: 5px;
          color: var(--font-color);
        }

        .divider {
          border: none;
          height: 1px;
          background-color: #ddd;
          margin: 10px 0;
        }
      }
    }

    &.open {
      animation: slideIn 0.5s ease forwards;
      overflow-y: auto; /* 스크롤을 전체 검색창에 적용 */
    }

    &.close {
      animation: slideOut 0.5s ease forwards;
    }
  }
}

.addButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .addButton {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      background: var(--contrast-color);
      border-color: var(--contrast-color);
      color: var(--background-color);
      transform: translateY(-3px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &:active {
      background: var(--main-color);
      color: #ffffff;
      transform: translateY(0);
      box-shadow: none;
    }
  }
}
.noResults {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100%; /* 부모 컨테이너의 전체 높이 사용 */
  text-align: center; /* 텍스트 중앙 정렬 */
  font-size: 18px; /* 텍스트 크기 조정 */
  font-weight: bold; /* 글자 두껍게 */
  color: var(--contrast-color); /* 색상 변경 */
}
