.scrapListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 120px);

  .scrapListHeader {
    height: 110px;
    min-height: 110px;
    font-size: 28px;
    display: flex;
    // align-items: center;
    margin-bottom: 20px;
    padding: 5px 20px;
  }
}
