.articleContent {
  border: var(--font-color) 1px solid;
  border-radius: 6px;
  padding: 2px 15px;

  .tooltip {
    position: fixed;
    background-color: rgba(var(--main-rgb), 0.77);
    color: var(--font-color);
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    z-index: 1000;
  }
}

.sentenceContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;

  .sentence {
    cursor: default;
  }
}

.accent {
  font-weight: bold;
}
