.articleListContainer {
  padding: 5px;
  width: 100%;
}

.categoryButtons {
  display: flex;
  justify-content: center; /* 카테고리 버튼들을 가운데 정렬 */
  align-items: center;
  margin-bottom: 20px;
  position: relative; /* 플러스 버튼 위치 조정을 위해 부모 요소에 상대 위치 지정 */
  width: 100%;
}

.categoryButtonContainer {
  display: flex;
  justify-content: center; /* 카테고리 버튼들을 가로로 가운데 정렬 */
}

.categoryButton {
  width: 15vh;
  height: 40px; /* 버튼 높이를 동일하게 설정 */
  padding: 10px 15px;
  margin-right: 10px;
  border: var(--backgound-color);
  background-color: var(--main-color);
  cursor: pointer;
  border-radius: 1px;

  &.active {
    border-bottom: 4px solid var(--contrast-color);
    background-color: var(--main-color);
    color: var(--contrast-color);
  }

  &:hover {
    background-color: var(--contrast-color); /* 호버 시 배경색 변경 */
  }
}

.addButton {
  width: 50px; /* all 버튼의 너비 설정 */
  height: 40px; /* 카테고리 버튼과 같은 높이 */
  padding: 0 15px;
  background-color: var(--main-color);
  color: var(--contrast-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute; /* 부모 요소 기준 위치를 조정 */
  right: 15px; /* 오른쪽 끝에 위치 */
  top: 50%; /* 부모 요소 기준 세로 중앙 정렬 */
  transform: translateY(-50%); /* 세로 중앙으로 정렬하기 위해 y축 이동 */
  &:hover {
    background-color: var(--contrast-color);
  }
}

.articleListContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 기사 목록을 가운데 정렬 */
  padding-top: 5vh;
}

.articleCard {
  width: 28vh;
  height: 60vh;
  margin: 10px;
  border: 2px solid #ddd;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05); /* 호버 시 확대 효과 */
  }
}

.imageContainer {
  width: 100%;
  height: 35vh;
  margin-bottom: 15px;
}

.articleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 0;
  width: 100%;

  .title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
    height: auto;
    text-overflow: ellipsis;
    display: -webkit-box; /* Flexbox를 사용하여 ellipsis 적용 */
    -webkit-line-clamp: 4; /* 4줄을 초과하면 말줄임 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    line-height: 1.3em; /* 줄 간격 조정 */
    max-height: calc(1.3em * 4); /* 최대 높이 = line-height * 줄 수 */
  }
}

.meta {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 0.85em;
  color: #888;
}
