.articleContent {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;

  .articleOriginal {
    border: var(--font-color) 1px solid;
    border-radius: 6px;
    padding: 2px 12px;
    width: 50%;

    .tooltip {
      position: fixed;
      background-color: rgba(var(--main-rgb), 0.77);
      color: var(--font-color);
      padding: 8px;
      border-radius: 4px;
      font-size: 14px;
      pointer-events: none;
      z-index: 1000;
    }
  }

  .articleTranslation {
    border: var(--font-color) 1px solid;
    border-radius: 6px;
    padding: 2px 15px;
    width: 50%;
  }

  .sentenceContainer {
    margin-bottom: 10px;
    padding: 4px;
    transition: background-color 0.3s ease;
  }

  .accent {
    font-weight: bold;
  }

  .highlight {
    background-color: var(--main-color);
    border-radius: 6px;
  }

  .sentence {
    font-size: 16px;
    cursor: default;
  }
}

.sentenceContainer {
  margin-bottom: 32px;
}
