.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  // padding: 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30vh;
  transition: margin-top 0.5s ease;
  position: relative;
  z-index: 2;
}

.moveUp {
  margin-top: 1vh;
}

.searchInput {
  width: 300px;
  padding: 10px 15px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-right: 10px;
}

.searchInput:focus {
  outline-color: var(--contrast-color);
}

.searchButton {
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: var(--background-color);
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: var(--contrast-color);
  }
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // gap: 10px;
  width: 100%;
  margin-top: 10vh;
  overflow-y: auto;
  z-index: 1;
}

.articleCard {
  width: 28vh; /* ArticleList의 카드와 동일한 너비 설정 */
  height: 60vh; /* 동일한 높이 설정 */
  margin: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 2px;
  position: relative;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    transform: scale(1.05);
  }
}

.imageContainer {
  width: 100%;
  height: 35vh; /* 이미지 크기 조정 */
  margin-bottom: 15px;
}

.articleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px 0;
  width: 100%;

  .title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
    height: auto;
    text-overflow: ellipsis;
    display: -webkit-box; /* Flexbox를 사용하여 ellipsis 적용 */
    -webkit-line-clamp: 4; /* 4줄을 초과하면 말줄임 표시 */
    -webkit-box-orient: vertical;
    overflow: hidden; /* 텍스트가 넘칠 경우 숨김 */
    line-height: 1.3em; /* 줄 간격 조정 */
    max-height: calc(1.3em * 4); /* 최대 높이 = line-height * 줄 수 */
  }
}

.meta {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 0.85em;
  color: #888;
}

.noArticlesMessage {
  text-align: center;
  font-size: 18px;
  color: #999;
  padding: 20px;
  width: 100%;
}
