.articleList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 100%;
  position: relative;
  top: 0;
  padding: 0 40px;

  .scrollButton {
    cursor: pointer;
  }
}

.articleContainer {
  flex: 1;
}

.categorySlider {
  width: 100%;
  overflow: hidden;
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;
  }
}
