.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

.logo {
  margin: 32px;
  height: 20vh;
}

.loginFormContainer {
  width: 50vw;
}

.loginForm {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 240px;
  border: 10px var(--main-color) dotted;
  margin: 10px;
  border-radius: 20px;
  position: relative;

  article {
    display: flex;
    flex-direction: column;

    label {
      font-size: 18px;
      color: var(--font-color);
    }

    input {
      border-radius: 8px;
      font-size: 16px;
      padding: 6px 12px;
      background-color: var(--font-color);
      color: var(--background-color);
    }
  }

  button {
    background-color: var(--main-color);
    border-radius: 20px;
    padding: 5px 24px;
    width: 30%;
    font-size: 15px;
    cursor: pointer;
  }
}
