.articleContainer {
  display: flex;
  height: 92vh;
  flex-direction: column;
  margin-left: 12rem;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
  position: relative;
}

.articleHeader {
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: relative;

  button {
    width: fit-content;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding-top: 4px;
  }

  span {
    display: flex;
    gap: 12px;
    svg {
      cursor: pointer;
      align-items: center;
    }
  }
}

.articleBackground {
  filter: brightness(85%);
  margin-top: 20px;
  background-color: var(--background-color);
  height: 92vh;
  padding: 12px;
  border-radius: 6px;
  overflow-y: scroll;

  > img {
    width: 100%;
  }
}

.articleTitle {
  font-size: 24px;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  margin-top: 12px;

  button {
    background-color: var(--font-color);
    color: var(--background-color);
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
  }
}
