.container {
  width: 100%;
  height: calc(100vh - 120px);
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .categoryNavbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    min-height: 110px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;

    .categoryNavbar {
      display: grid;
      grid-template-columns: repeat(5, 1fr); // 항상 5개의 열로 고정
      grid-template-rows: repeat(2, auto); // 항상 2개의 행으로 고정
      gap: 5px;
      height: 120px; // 키워드 네비바의 고정 높이
      overflow-y: auto; // 스크롤 가능하게 설정
      scroll-behavior: smooth; // 부드러운 스크롤 동작 설정
      padding: 10px;

      .categoryButton {
        width: 110px;
        height: 40px;
        padding: 10px 15px;
        margin: 5px;
        border: 1px solid var(--background-color);
        background-color: var(--main-color);
        border-radius: 5px;
        overflow: hidden;
        font-size: 14px;

        &.active {
          border-bottom: 4px solid var(--contrast-color);
          background-color: var(--main-color);
          color: var(--contrast-color);
        }

        &:hover {
          background-color: var(--contrast-color);
          color: var(--main-color);
        }
      }
    }

    .upDownButtons {
      display: flex;
      flex-direction: column;
      position: absolute;
      transform: translateY(-10%);
      right: -20px;
      width: 50px;
      gap: 10px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;

      > svg {
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
