.articleHeader {
  display: flex;
  align-content: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 20px;

  button {
    width: fit-content;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding-top: 8px;
  }

  span {
    display: flex;
    gap: 12px;
    svg {
      cursor: pointer;
      align-items: center;
    }
  }
}

.articleTitle {
  font-size: 24px;
  font-weight: bold;
}

.articleContainer {
  filter: brightness(85%);
  background-color: var(--background-color);
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.articleBackground {
  overflow-y: scroll;

  > img {
    width: 100%;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;

  button {
    cursor: pointer;
    background-color: var(--font-color);
    color: var(--background-color);
    padding: 8px 12px;
    border-radius: 6px;
    width: 30%;
  }
}
