.theme {
  background-color: var(--background-color);
  color: var(--font-color);
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  // margin-left: 12rem; // 네비게이션 바 너비를 제외한 여백
  padding: 20px;
  background-color: var(--background-color);
  color: var(--font-color);
  // width: calc(100vw - 12rem);
  width: 100%;
  height: 100vh; // 전체 화면 높이
  overflow-y: scroll; // 스크롤 방지
}

.authMain {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100vh; // 전체 화면 높이
  overflow-y: scroll; // 스크롤 방지
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  z-index: 1000;
}

.themeswitcher {
  z-index: 1300; /* 최상단에 표시되도록 z-index 설정 */
  position: fixed; /* 고정 위치로 설정 */
  top: 13px; /* 화면 상단에서 16px 아래에 위치 */
  right: 15px; /* 화면 우측에서 16px 떨어진 위치에 설정 */

  display: flex;
  align-items: center;
}
