@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-size: inherit;
}

html,
body {
  margin: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color); // 변수 사용
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px;
  position: relative;
}

button {
  background-color: var(--main-color);
  color: var(--font-color);
}
