@import './styles/variables';

@font-face {
  font-family: 'NanumBarunpen';
  src: url('./assets/font/NanumBarunpenR.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-size: inherit;
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: var(--background-color);
  ::-webkit-scrollbar {
    display: none;
  }
}

body * {
  font-family: 'NanumBarunpen', sans-serif;
  font-size: 18px;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px;
  position: relative;
}

button {
  background-color: var(--main-color);
  color: var(--font-color);
}

strong {
  color: var(--accent-color);
}
