@font-face {
  font-family: 'GmarketSansBold';
  src: url('/src/assets/font/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.aboutContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--backgound-color);
}

.introText {
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.chapter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-bottom: 40px;

  &:nth-child(2n) {
    background-color: #ffebcd;
    color: #712c43;
  }

  &:nth-child(2n + 1) {
    background-color: #ffa07a;
    color: white; // 텍스트 흰색
  }

  &.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  .textWrapper {
    flex: 1;
    margin-right: 40px; // 이미지와 텍스트 간격을 줌
    text-align: left;

    .chapterTitle {
      font-size: 36px;
      font-family: 'GmarketSansBold', sans-serif;
      margin-bottom: 12px;
    }

    .chapterDescription {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  .imageWrapper {
    display: flex;
    gap: 20px;

    .chapterImage {
      width: 250px;
      height: 300px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.altBg {
  background-color: #ffebcd; // 살색
}

.fadeInSection {
  opacity: 0;
  transform: translateY(20px);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

/* 살색 배경에서는 주황색 버튼 */
.altBg .button {
  background-color: #ff4500; /* 주황색 */
  color: white;
}

.altBg .button:hover {
  background-color: #ff4500;
}

/* 주황색 배경에서는 살색 버튼 */
.chapter .button {
  background-color: #f8cba9; /* 살색 */
  color: black;
}

.chapter .button:hover {
  background-color: #f8cba9;
}
