.articleListContainer {
  padding: 20px;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.articleListContent {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 88px); /* 화면 전체 높이에서 상단 여백 제거 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  padding: 20px;
}

.articleCard {
  display: flex;
  align-items: center; /* 이미지와 텍스트를 수직으로 가운데 정렬 */
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid var(--font-color);
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.imageContainer {
  width: 120px;
  height: 120px;
  margin-right: 15px;
}

.articleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.articleInfo {
  display: flex;
  flex-direction: column; /* 제목과 날짜를 세로로 정렬 */
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.publishedDate {
  font-size: 1em;
  color: #666;
  align-self: flex-end; /* 텍스트를 우측 정렬 */
  margin-top: auto; /* 아래쪽에 위치하도록 조정 */
}

.noArticles {
  text-align: center;
  font-size: 18px;
  color: #999;
  padding: 20px;
}
