:root {
  --main-color: #fcbe8c;
  --contrast-color: #ff8b5a;
  --accent-color: #4a88fc;
  --sub-color: #8b7d70;
  --background-color: #fdfdfd;
  --font-color: #3c3c3c;
}

.light {
  --main-color: #fcbe8c;
  --contrast-color: #ff8b5a;
  --accent-color: #4a88fc;
  --sub-color: #8b7d70;
  --background-color: #fdfdfd;
  --font-color: #3c3c3c;
}

.dark {
  --main-color: #7f644b;
  --contrast-color: #ff8b5a;
  --accent-color: #ffb400;
  --sub-color: #8b7d70;
  --background-color: #3c3c3c;
  --font-color: #eae5dc;
}
