:root {
  --main-color: #eae5dc;
  --contrast-color: #564637;
  --accent-color: #ffb400;
  --sub-color: #2b2e3a;
  --background-color: #fdfdfd;
  --font-color: #3c3c3c;
}

.light {
  --main-color: #eae5dc;
  --contrast-color: #564637;
  --accent-color: #ffb400;
  --sub-color: #2b2e3a;
  --background-color: #fdfdfd;
  --font-color: #3c3c3c;
}

.dark {
  --main-color: #564637;
  --contrast-color: #2b2e3a;
  --accent-color: #ffb400;
  --sub-color: #8b7d70;
  --background-color: #3c3c3c;
  --font-color: #eae5dc;
}
